*{
    box-sizing: border-box;

}

body{
    font-family: 'League Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b4664;

}
.bleft{
    left: 11px;
}
.aleft{
    left: 0px;
}
.cleft{
    left: 22px;
}